*,
*::after,
*::before {
    box-sizing: border-box;
}

.bg-index {
    background-image: url(img/bg_portfolio.png);
    background-repeat: no-repeat; 
    background-size: cover;
    overflow-x: hidden;
    background-position: center -200px;

}

body {
    display: flex;
    flex-direction: column;
}



html, body {
  margin: 0;
  padding: 0;
}

h1 {
    font-size: 4rem;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
}


.main-page {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 100px;
    justify-content: center;
    align-items: flex-end;
    margin: 0;
    padding: 0;
    width: fit-content;
    position: relative;
    z-index: 10;
    margin-top: 200px;
}

/* .main-page {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    justify-items: center;
    padding: 60px 0;
} */

/* .main-page img {
    width: 150%;
} */

.main-page img {
    width: 360px;       
    max-width: 100%;
    height: auto;
    display: block;
    min-width: 60%;
}


.main-page a:hover img {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

footer {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 270px;

    background-image: url("img/footer.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    /* pointer-events: none; */
    position: relative;
    z-index: 1
}


.footer-content {
    position: absolute;
    inset: 0; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}


.main-page img,
.main-page a {
    pointer-events: auto;
}

/* page dessin */

.bg-dessins {
    background-image: url(img/muraille_dessin.png);
    font-family: "Barrio", sans-serif;
    background-repeat: no-repeat; 
    background-size: cover;
    overflow-x: hidden;
    background-position: center top;
}

.dessin {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
    margin-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.dessin img {
    object-fit: cover;
    border: 2px solid rgb(220, 3, 3);
    height: 200px;
    border-radius: 10px;
    box-shadow: 5px 4px 4px 4px rgb(28, 28, 28);
    /* padding: 10px; */
    background-color: rgb(214, 196, 196);
    width: 30%;
    margin-left: 100px;
    margin-right: 10px;
}

.dessin h2 {
    margin-left: 100px;
}

.dessin img:hover {
    border: 2px solid rgb(3, 220, 119);
    transform: translate(10px) rotate(7deg);
    transform-origin: 0 -10px;
    transition: 0.3s ease-in-out;
    background-color: rgb(47, 40, 40);  
}

@media  (max-width:600px) {
    .dessin {
        grid-template-columns: repeat(1, 1fr);
    }
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-vote {
  background: #f5e6d3;
  padding: 25px;
  border-radius: 10px;
  width: 420px;
  max-width: 90%;
  position: relative;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1.8rem;
}

hr {
    width: 60%;
    opacity: 75%;
    margin-bottom: 10px;
    margin-top: 10px;
}

footer a:hover {

    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

p {
    font-family: 'Segoe UI', sans-serif;
}

.hendaye {
    width: 400px;
}

.hendaye img, kh img {
    float: inline-start;
    margin-left: 100px;
}

.dessin div {
    background-color: rgb(214, 214, 214);
    padding: 10px;
    border-radius: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    box-shadow: 0 0 14px rgb(19, 18, 18);
}

.dessin p {
    margin-left: 30px;
}


nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #ffffff;
}

nav div {
    font-size: clamp(1.5rem, 3vw, 2.3rem);
    font-weight: bold;
    color: #7C1824;
    text-shadow: 2px 2px 2px black;
    margin: 1rem 0;
}

.stripes img {
    display: block;
}

.navkid1,button{
    background-color: #7C1824;
    color: white;
    width: 150px;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px rgb(36, 36, 36);
    font-size: 0.9rem;
}

.navkid2 {
    color: black;
}

nav a:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in;
}


.navkid1:hover {
    background-color: #221E20;
    color: white;
}

.navkid3 {
    background-color: #FFF1C2;
    color: black;
    width: 110px;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px rgb(36, 36, 36);
    font-size: 0.9rem;
}

.navkid3:hover {
    border-color: #FFF1C2 ;
    color: black;
}


